:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  background-color: #0a0b1d;
  font-family: Georgia, "Times New Roman", serif;
  color: #fff;
  overflow-y: hidden;
}

@media screen and (max-width: 400px) {
  html, body {
    font-size: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  line-height: 1.5;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #ddd;
  transition: color 0.2s ease;
}

#wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#wrapper::-webkit-scrollbar {
  display: none;
}

@keyframes reveal-top {
  0% {
    bottom: -5em;
  }

  100% {
    bottom: 50px;
  }
}

#top {
  display: none;
  position: absolute;
  bottom: 50px;
  right: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 999px;
  height: 55px;
  width: 55px;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  font-size: 1rem;
}

#top:hover {
  cursor: pointer;
}

#top.reveal {
  display: block;
  animation: reveal-top 0.5s;
}

@media screen and (max-width: 400px) {
  @keyframes reveal-top {
    0% {
      bottom: -5em;
    }

    100% {
      bottom: 20px;
    }
  }

  #top {
    bottom: 20px;
    right: 20px;
  }
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

#intro {
  background-image: url("https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1705&q=80");
}

@keyframes reveal-header {
  0% {
    top: -5em;
  }

  100% {
    top: 0;
  }
}

#header {
  width: 100%;
  height: 70px;
  padding-top: 1rem;
  font-size: 1.25rem;
  transition: background-color 0.5s ease-in-out;
}

#header.reveal {
  position: fixed;
  animation: reveal-header 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}

#header a {
  text-decoration: none;
  padding: 10px;
}

#header nav a:hover {
  text-decoration: underline;
  color: initial;
}

@media screen and (max-width: 400px) {
  #header {
    height: 50px;
  }

  #header.reveal {
    background: none;
  }

  #header nav {
    width: 100%;
    justify-content: center;
  }

  #header nav a {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-right: 1rem;
  }

  #header nav a:last-child {
    margin-right: 0;
  }

  #header nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }

  #header nav a.active {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }

  #header .social-links {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  #header nav a {
    font-size: 1rem;
  }
}

.h1-name {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.h2-name {
  font-size: 1.5rem;
}

.circle {
  border-radius: 999px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap-25 {
  gap: 25px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.display-none {
  display: none !important;
}

.section-h1 {
  font-size: 2.5rem;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
  top: 85px;
}

@media screen and (max-width: 400px) {
  .section-h1 {
    visibility: hidden;
  }
}

/* Intro */
.intro-content {
  padding: 166px 50px;
}

.portrait {
  max-width: 418px;
  max-height: 418px;
}

@media screen and (max-width: 1000px) {
  .intro-content {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .portrait {
    max-width: 250px;
    max-height: 250px;
    margin-top: 1rem;
  }
}

/* Skills */
.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -85px;
}

.skill-text {
  font-size: 1.8rem;
  line-height: 1.5em;
}

.skill-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}

.skill-link:hover {
  cursor: pointer;
  text-decoration-color: rgba(255, 255, 255, 1);
  transition: text-decoration-color 0.2s ease-in-out;
}

.skill-link.selected {
  text-decoration: underline;
}

.skills-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #fff;
  padding-left: 40px;
  margin-left: 40px;
  width: 378px;
  height: 378px;
}

.skills-content img {
  margin-right: 1rem;
  vertical-align: middle;
  height: 36px;
}

@media screen and (max-width: 700px) {
  .skills-container div {
    display: block;
  }

  .skill-links {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 3rem;
  }

  .skill-link {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2rem;
    margin: 0 0.25rem;
    border-radius: 10px;
    font-size: 1.25rem;
    text-align: center;
  }

  .skill-link.selected {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .skill-link:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.2s ease-in-out;
  }

  .skills-content {
    border: none;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 412px) {
  .skills-content {
    font-size: 1.25rem;
  }

  .skills-content div {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .skill-text {
    font-size: 1rem;
  }

  .skill-link {
    font-size: 1rem;
  }

  .skill-links {
    margin: 0 3.5rem;
  }

  .skills-content {
    width: 300px;
  }
}

/* Portfolio */
#portfolio {
  max-width: 960px;
}

.portfolio-container {
  margin: -85px 1rem 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.portfolio-thumbnails {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.portfolio-thumbnails img {
  width: 151px;
  height: 151px;
  border: 1px solid transparent;
  object-fit: cover;
}

.portfolio-thumbnails img.selected {
  border: 1px solid #fff;
}

.portfolio-thumbnails img:hover {
  cursor: pointer;
  border: 1px solid #ccc;
  transition: border-color 0.2s ease-in-out;
}

.portfolio-thumbnails img.selected:hover {
  border-color: initial;
}

.portfolio-item-content {
  margin-left: 3rem;
  font-size: 1rem;
}

.portfolio-item-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project-btn {
  display: inline-block;
  width: 128px;
  height: 38px;
  margin-right: 0.5rem;
  background-color: #343672;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
}

.project-btn:hover {
  cursor: pointer;
  background-color: #2b2d5e;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .portfolio-container {
    flex-direction: column;
  }

  .portfolio-thumbnails {
    display: block;
  }

  .portfolio-thumbnails img {
    width: 70px;
    height: 70px;
  }

  .portfolio-item-content {
    margin: 1rem;
  }
}

@media screen and (max-width: 414px) {
  .portfolio-container {
    flex-direction: row;
  }

  .portfolio-thumbnails img {
    max-width: 51px;
    max-height: 51px;
  }

  .portfolio-item-content {
    margin-top: 0;
  }

  .project-btn {
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .portfolio-item-content {
    font-size: 0.75rem;
  }

  .portfolio-item-content h2 {
    font-size: 1.25rem;
  }

  .project-btn {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  }
}

/* Contact */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: -85px 1rem 1rem;
  font-size: 1.2rem
}

.contact-content {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: fit-content;
  padding: 74px;
}

.contact-item {
  margin-bottom: 1.5rem;
}

.contact-item div:first-child {
  margin-bottom: 0.5rem;
}

.contact-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 412px) {
  .contact-content {
    padding: 2.5rem;
    font-size: 1rem;
  }
}